@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;0,700;1,100&display=swap");

h1 {
  font-size: 5.9vw;
}

.navbar {
  background-color: rgba(31, 36, 44, 0.933);
  // transition: background-color .3s ease-in-out;
  ul li a {
    margin-left: 8px;
    margin-right: 8px;
    font-weight: 600;
    color: #ccc;
    &:hover {
      color: #ffffff;
    }
  }
  ul li .underline {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      bottom: 0px;
      left: 4px;
      width: 50px;
      right: 10px;
      background-color: #008a81 !important;
      height: 3px;
      border-radius: 1.5px;
    }
  }
  ul li:hover {
    background-color: #008a81;
  }
}

.navbar .navbar-collapse {
  background-color: rgba(31, 36, 44, 0.933);
}


/////        Hero Section Video Container

.video-container {
  position: relative;
  overflow: hidden;
}

video {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.hero-section .content {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 10;

  h1 {
    font-size: 5vw;
  }
}

.btn-info {
  background-color: #008a81 !important;
  border-color: #008a81 !important;
  text-shadow: none !important;
}

.address-wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 8px 10px;
  background-color: #1d4142;
  border-radius: 6px;
  cursor: pointer;
  span {
    font-size: 14px;
    color: #0fd7ca;
    margin-right: 8px;
    font-weight: 500;
  }
}

.btn-readmore {
  text-decoration: none;
  color: #0fd7ca;
}

.btn-badge {
  background-color: #21bbb333 !important;
  color: #21bbb3 !important;
}

///Fix Button
.fixedButton {
  position: fixed;
  bottom: 0px;
  right: 10px;
  padding: 10px;
   z-index: 10;
}
.roundedFixedBtn {
  height: 60px;
  width: 60px;
  font-size: 2em;
  font-weight: bold;
  border-radius: 10%;
  background-color: #373a3f;
  color: white;
  text-align: center;
  cursor: pointer;
}

.color-9B9B9C {
  color: #9b9b9c;
}

//Introduction section

.introduction-section {
  overflow: hidden;
  position: relative;
  background-image: url("../public/assests/token-img.png");
  background-repeat: no-repeat;
  background-position: 100%;
  background-attachment: fixed;
  background-color: #14171c;
}

///Community

.com-icon-div {
  width: 80px !important;
  height: 80px !important;
  background-color: #24282f;
  color: #ffffff;
  font-size: 33px;
  border-radius: 5px;
  margin-right: 40px;
}

.community-section a {
  color: #21bbb3;
  font-weight: bold;
  text-decoration: none;
  &:hover {
    color: #21bbb3;
  }
}

////// Footer section

.footer-section {
  background-color: #1f242c;

  .links ul li {
    list-style: none;
    a {
      text-decoration: none;
      color: #ffffff;
      font-weight: 400;
    }
  }

  .footer-nav ul li {
    list-style: none;
    a {
      text-decoration: none;
      color: #ffffff;
      line-height: 30px;
      color: #21bbb3;
      font-size: 16px;
    }
  }

  .social-icon {
    color: #21bbb3;
    font-size: 30px;
  }

  .copyright {
    color: #21bbb3;
  }
}

h1, p{
  // text-align: justify;
  word-break: break-all;
}

